
/* ---------------------- Web Dev Page Elements ---------------------- */

.section-1 {
    height: 50vh;
    background-image: url(../img/sample-bg.jpg);
    display: flex;
    align-items: center;
    padding: 0 50px;
}

h1 {
    color: #007bff;
    font-size: 55px;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.caption { 
    width: 70%;
}

.caption span {
    color: #009ff6;
    border: 1px solid #009ff6;
    padding: 3px 16px;
    margin-bottom: 6px;
    display: inline-block;
}

.caption span a {
    color: inherit;
}

p { 
    color: #8198ae;
}

/* Section 2 */

.nav-tabs {
    border: 0 !important;
}

.nav-tabs .nav-item {
    width: 33.33%;
    text-align: center;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff !important;
    background-color: #009ff6 !important;
    border-radius: 3px !important;
    border: 1px solid #009ff6 !important;
}

.nav-tabs {
    margin-right: -8px;
}

.nav-tabs .nav-link {
    border: 1px solid #009ff6 !important;
    margin-right: 8px !important;
    border-radius: 3px !important;
    padding: .65rem 1rem;
}

.nav-tabs .nav-link:hover {
    color: #007bff;
}


.section-2 {
    background: #f7f7f79c;
}