/* ---------------------- Home Page Elements ---------------------- */


.section-2 {
    position: relative;
    height: 460px;
    background: #f7f7f79c;
}

.home .programs {
    position: absolute;
    width: 100%;
    top: -150px;
    padding: 0 40px;
}

.home .section-1 {
    background-image: url(../img/sample-bg.jpg);
    height: 50vh;
}


.web-dev,
.software-dev {
    margin: 0 auto;
}

.featured-img {
    width: 100%;
    height: 350px;
    background-image: url(../img/sample-img.jpg);
    background-size: cover;
    border-radius: 6px;
    box-shadow: 0 3px 7px 0px rgb(0 0 0 / 20%);
    display: inline-block;
    transition: all 350ms ease-in;

}

.featured-img:hover {
    transform: scale(1.01);
}

.programs .content {
    padding: 0 15px;
    font-family: 'Lato', sans-serif;
}


.programs .content .title {
    font-size: 32px;
    margin: 0;
    padding: 20px 0;
    transition: all 200ms ease-in-out;
}

.programs .content .title a {
    color: #007bff;
}

.programs .content .title a:hover {
    color: #0063cc;
}

.programs .content .title span {
    transition: all 350ms ease-in-out;
}

.programs .content .title:hover span {
    padding-left: 6px;
}

.programs .content .caption {
    font-size: 16px;
    color: #8198ae;
    margin: 0;
    line-height: 26px;
}

