/* ---------------------- Home Page Elements ---------------------- */


.section-2 {
    position: relative;
    height: 530px;
    background: #f0f0f0ab;
}

.programs {
    position: absolute;
    width: 100%;
    top: -120px;
    padding: 0 40px;
}

.section-1 {    
    background-image: linear-gradient(to right, #0c7daf,#00b4f5);
    /* background: linear-gradient(to right, #00000048,#00000050), url(../img/bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 55vh;
    padding: 90px;
    height: 440px;
}

.section-1 div {
    width: 85%;
    margin: 0 auto;
}

.section-1 h1 {
    font-size: 36px;
    /* border: 1px solid #ffffffa8; */
    padding: 6px;
}

.section-1 p {
    color: #edf5fb;
}


.web-dev,
.software-dev {
    margin: 0 auto;
}

.featured-img {
    width: 100%;
    height: 370px;
    border-radius: 6px;
    box-shadow: 0 3px 7px 0px rgb(0 0 0 / 20%);
    display: inline-block;
    transition: all 350ms ease-in;
    

}

.featured-img.img_1 {
    background-image: url(../img/web-dev.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.featured-img.img_2 {
    background-image: url(../img/software-dev.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.featured-img:hover {
    transform: scale(1.01);
}

.programs .content {
    padding: 0 15px;
    font-family: 'Lato', sans-serif;
}


.programs .content .title {
    font-size: 32px;
    margin: 0;
    padding: 20px 0;
    transition: all 200ms ease-in-out;
}

.programs .content .title a {
    color: #007bff;
}

.programs .content .title a:hover {
    color: #0063cc;
}

.programs .content .title span {
    transition: all 350ms ease-in-out;
}

.programs .content .title:hover span {
    padding-left: 6px;
}

.programs .content .caption {
    font-size: 16px;
    color: #8198ae;
    margin: 0;
    line-height: 26px;
}

